<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Swc.WpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Swc.WpfClient.Properties.Settings>
            <setting name="AuthorName" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="DatabaseIp" serializeAs="String">
                <value>45.67.216.36</value>
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value>swcUser</value>
            </setting>
            <setting name="DatabasePwd" serializeAs="String">
                <value>eW00wwDxJ4SuLx4yEiwRM52Qh1oa00ct</value>
            </setting>
        </Swc.WpfClient.Properties.Settings>
    </userSettings>
</configuration>